@mixin ButtonStyles($bgColor, $buttonWidth) {
    background-color: $bgColor;
    width: $buttonWidth;
    padding: 15px;
    outline: none;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
