$loginBackground: rgba(14, 13, 13, 0.8);
@import "../../GeneralStyles/HorizontalAndVerticalCenter.scss";
@import "../../GeneralStyles/Button.scss";

.mainContainer {
    background-image: url("./bg.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    @include HorizontalAndVerticalCenter;
}

.loginContainer {
    background-color: $loginBackground;
    height: 100vh;
    width: 100vw;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    @include HorizontalAndVerticalCenter;
    h1 {
        font-size: 6rem;
        font-weight: bolder;
        color: white;
    }
    h2 {
        font-size: 2.7rem;
        color: white;
        font-weight: bolder;
        padding: 15px 0px;
    }
}

.mainIcon {
    color: white;
    font-size: 120px;
}

.buttonContainer {
    margin: 20px auto;
}

.googleButton {
    @include ButtonStyles(#c42011);
    margin-bottom: 12px;
    transition: all 0.5s ease;
}

.facebookButton {
    @include ButtonStyles(#234692);
    transition: all 0.5s ease;
}

.googleButton:hover {
    transform: scale(1.05);
}
.facebookButton:hover {
    transform: scale(1.05);
}

.socialIcons {
    font-size: 20px;
    margin-right: 5px;
}

.chatie {
    color: #2178fa;
    font-weight: 800;
}

.ie {
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 30%;
    }
}